@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(214, 224, 255);
}

img {
  width: 100%;
}

.header3 {
  background-color: rgb(0, 87, 201);
  padding: 2px;
  color: white;
}

h3 {
  margin-left: 8px;
}

#title {
  margin-bottom: 16px;
}

label {
  letter-spacing: 1px;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(155, 155, 155);
  margin-top: 8px;
  padding: 2px 10px;
  font-size: 16px;
}

input:focus {
  outline-color: rgb(0, 87, 201);
}

.notes-section {
  margin-top: 20px;
}

form {
  display: flex;
}

.row-btn {
  justify-content: flex-end;
  text-align: right;
}

.save-btn {
  border-radius: 2px;
  border: none;
  width: 4rem;
  padding: 5px;
  font-size: 13px;
  color: white;
  background-color: rgb(0, 87, 201);
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 16px;
}

textarea:focus {
  outline-color: rgb(0, 87, 201);
}

li {
  list-style-type: none;
  display: flex;
}

.entry-row {
  display: flex;
  justify-content: space-between;
}

.new {
  width: 4rem;
  height: 26px;
  margin-top: 20px;
  background-color: rgb(0, 87, 201);
  letter-spacing: 2px;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 5px;
  margin-right: 8px;
}

.no-entry-message {
  text-align: center;
  margin-top: 40px;
}
